{% extends "index.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    
<p>
What dataset will you use?
School Scores
Read about the dataset and download it.
Open the JSON file and look through the data.  Write down any questions you have about it.  (example questions about the Broadway data set: What is gross potential?  How can it be more than 100%? Why is a 14 day rolling average an important metric?)
What gender has better scores 
Which class year had the best score 
What is the average score for a student in a specific state or in the U.S.
Are there any missing data points?  How are these indicated?  Think about how you will handle these when analyzing the data
Doesn’t have datasets for races or ethnic minorities 
Doesn’t list kids who may have special needs, i.e. have Individualized Education Plans. Dsylexic, etc.
Research the answers to your questions in step 3 and record them below.  Include your sources.
The Class of 2006 had the highest SAT Score of 1518 according to PrepScholar
Males scored better than females according to the National Center for Education Statistics
In 2008 and 2009 alabama had a avg sat score of 1658 while California had an avg sat score of 1511
Record any questions or wonderings you have that could be answered by analyzing the data. (ex. What was the most popular show each year?) Note that you do not need to write code to perform these analyses and find the answers at this point.
 </p>

{% endblock %}