{% extends "index.html" %}

{% set active_page = "graphverbal" %}

{% block title %}Sat Verbal Scores {% endblock %}



{% block content %}
	<h1> Math Graph </h1>
<head>
<script>
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      axisX:{
        title: "Years between 2005-2015",
		xValueFormatString: "YYYY",
        interval: 1
     },
	 
	axisY:{
        title: " Verbal Scores",
		interval: 800
     },
      data: [
      {
        type: "column",
        dataPoints: [
        {{graph_verbal_points}}
        ]
      }
      ]
    });
 
    chart.render();
  }
  </script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>


{% endblock %}